<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
        {% for singleText in bullets %}
            <tr>
                <td width="10" class="rw10" align="center" valign="middle" style="font-family: Verdana,Geneva,sans-serif; font-size: 14px; color: #333333; font-weight: normal; text-decoration: none; line-height: 20px; text-align: center; vertical-align: middle;">•</td>
                <td width="100%" align="left" class="ff2 fs14 c-black-33 fw-nrm tdn lh20" style="font-family: Verdana,Geneva,sans-serif; font-size: 14px; color: #333333; font-weight: normal; text-decoration: none; line-height: 20px;">
                    <a href="TBD" class="h1blue" style="text-decoration: none; color: #005ea8;" target="_blank">
                        <span class="c-blue tdn" style="color: #005ea8; text-decoration: none;">{{ singleText }}</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody></table>